/* .HeroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/imges/hero.png");
  height: 660px;
  max-height: 100%;
  position: relative;

}
.text p{
  text-align: center;

}
.text h1{
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.text {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 545;
  color: #fff;
  padding: 20px;
  width: 50%;
}
.button{
border-radius: 50em;
box-shadow: rgba(0, 0, 0, 0.10);
background: transparent;
color: #fff;
width: 10rem;
height: 2em;
}
.button:hover{
background-color: rgb(36, 138, 36);;
color: #fff;
}
.cover {
  width: 100%;
  background-color: rgba(7, 7, 7, 0.5);
  height: 660px;
  max-height: 100%;
  position: absolute;
  z-index: 455;
} */
body, html {
  overflow-x: hidden;
}

.bg-image {  background-image: url("../../../assets/imges/hero2.jpg");}